html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: rgb(80, 80, 80);

}

body {
    font-family: 'Bebas Neue', Geneva, Tahoma, sans-serif;
}

.choices {
    margin: 30px;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.header {
    background: rgb(199, 121, 255);
    text-align: center;
    font-size: 70px;
    font-weight: 100;
    padding: 5px;
}

.button {
    transition-duration: 0.4s;
    height: 150px;
    width: 150px;
    font-size: 65px;
    background: rgb(138, 138, 138);
    border: 5px solid;
    border-color: rgb(199, 121, 255);
}

.button:hover {
    background-color: rgb(126, 126, 126);
}

.button:active {
    background-color: rgb(102, 101, 101);
}

.pick {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pick-box {
    transition-duration: 0.4s;
    height: 200px;
    width: 200px;
    font-size: 70px;
    background: rgb(138, 138, 138);
    border: 5px solid;
    border-color: rgb(54, 54, 54);
}

.box-title {
    font-size: 35px;
    margin-bottom: 8px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(44, 44, 44);
    color: white;
    text-align: center;
}

.result {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;

    font-size: 45px;
    color: white;
    
}

.result p {
    margin-top: -160px;
    margin-bottom: 15px;
}

.result button {
    height: 40px;
    width: 180px;
    background-color: rgb(199, 121, 255);
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    border-radius: 12px;
    font-family: 'Bebas Neue', Geneva, Tahoma, sans-serif;
}

button.button-hover:hover {
    height: 40px;
    width: 180px;
    background-color: grey;
    border: 4px solid rgb(199, 121, 255);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    border-radius: 12px;
    font-family: 'Bebas Neue', Geneva, Tahoma, sans-serif;
}

button.button-hover:active {
    transform: scale(0.98);
}

.scoreboard {
    display: flex;
    justify-content: center;
    gap: 80px;
    font-size: 50px;
    background: gray;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
}

.score {
    border: 7px solid;
    border-color: rgb(54, 54, 54);
    font-size: 50px;
    padding: 5px 20px;
}